@import "tailwindcss";

/* CSS adicional (globals.css):*/
.perspective { perspective: 1000px; }

.transform-style-preserve-3d { transform-style: preserve-3d; }

.backface-hidden { backface-visibility: hidden; }

.rotate-y-180 { transform: rotateY(180deg); }

@keyframes gradient-xy {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animate-gradient-xy {
  background-size: 200% 200%;
  animation: gradient-xy 12s ease infinite;
}
